annotated-types==0.7.0
APScheduler==3.11.2
cabarchive==0.2.5
certifi==2026.5.20
charset-normalizer==3.4.7
cx_Freeze==8.6.4
filelock==3.29.0
freeze-core==0.6.1
greenlet==3.5.1
idna==3.15
lief==0.17.6
packaging==26.2
pydantic==2.13.4
pydantic_core==2.46.4
PyQt6==6.11.0
PyQt6-Qt6==6.11.1
PyQt6_sip==13.11.1
python-msilib==0.6.0
QtAwesome==1.4.2
QtPy==2.4.3
requests==2.34.2
setuptools==82.0.1
SQLAlchemy==2.0.49
striprtf==0.0.32
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
tzlocal==5.3.1
UniversalSpeech==1.0.2.1
urllib3==2.7.0
